body {
    background-color: #f9f9f9;
   
  }
nav {
    background-color: #1E1E23;
   
    
  }
  .modal {
    size: 50%;
  }
  .modal-content{
    
  }
  #signup-form{
    margin-left: 20%;
  }
  .h4{
    margin-left: 50%;
  }
  #kopf{
    margin-left: 3%;
  }
  
