/* Style for index.html*/
/* Move down content because we have a fixed navbar that is 3.5rem tall */
html {
  scroll-behavior: smooth;
}
  
#buttons{
  border-style: none;
}

body {
  padding-top: 0rem;
}

/* The hero image */
.hero-image {
  /* Use "linear-gradient" to add a darken background effect to the image (photographer.jpg). This will make the text easier to read */
 /*background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("ressources/headimage_anim.gif"); */
 background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("https://www.wiso.rw.fau.de/files/2016/03/presse2.jpg");
  
  /* Set a specific height */
  height: 100vh;

  /* Position and center the image to scale nicely on all screens */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  background-attachment: fixed;
}

/* Place text in the middle of the image */
.hero-text {
  text-align: center;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}
#rundgang {
  width: 100%;
  text-align: center;
  color: rgb(0, 0, 0);
  background-color: transparent;
  text-decoration: none;
  }
#mapid { 
  height: 600px; 
}
.flex-item{
  flex:auto;
  text-align: center;
  width: 120px;
}
h1{
  text-align: center;
}
#Platzhalter {
  text-align: center;
}
#LangeGasse{
  margin-top: 50px ;
  margin-bottom: 25px;
}
#Findelgasse{
  margin-top: 50px ;
  margin-bottom: 25px;
}
#Mensa{
  margin-top: 50px ;
  margin-bottom: 25px;
}
#Sonstige{
  margin-top: 50px ;
  margin-bottom: 25px;
}
